@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

:root{
    --font1:'Barlow Condensed' sans-serif;
    --font2:'Barlow', sans-serif;
     --vermerlho:hsl(0, 100%, 68%);
     --azulME:hsl(230, 29%, 20%);
     --azulCE:hsl(230, 11%, 40%);
     --azulC:hsl(231, 7%, 65%);
     --azulCC:hsl(207, 33%, 95%);
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font2);
    
}
#toogle , .hamburger, input{
    display: none;
    opacity: 0;
}
body{
    overflow: hidden;
    max-width: 1440px;
    font-size: 18px;
}
body::after {
    word-break: break-all;
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 57vh;
    top: 0;
    right: 0;
    left: 50%;
    background-color: #eef3f6;
    border-radius: 0 0 0 5rem;
  }
header{
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

header > nav > a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    margin: 10px;
    transition: ease-in-out 0.5s;
    font-weight: 700;
}
header > nav > a:hover{

    text-decoration: underline;
    
}
.container{
    display: flex;
}

#login{
    color: var(--azulC);
    margin: 0px 0px 0px 50px;
}
#login::before{
    content:".";
    position: absolute;
    margin: -10px 0px 0px -30px;
    font-size: 25px;
}
.text{
    position: absolute;
    top:250px;
    left: 80px;
    max-width: 400px;
}

.text h1,p ,.botoes{
    margin: 15px;
}

.text h1{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
}
.text p{
    max-width: 250px;
    font-size: 14px;
    color:var(--azulC);
    margin-bottom: 20px;
}
.text span{
    background-color: black;
    color:white;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    padding: 3px 5px 4px 8px;
    border-radius: 17px;
    margin-right: 13px;
}
.text .botoes{
    margin-top: 50px;  
}

button{
    margin: 10px;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color:var(--azulC);
    background-color: transparent;
    cursor: text;
    transition: linear 0.5s;
}
#btR{
    background-color:var(--vermerlho);
    color:white;
}
#btR:hover{
    background-color: white;
    color:var(--vermerlho);
    border: 1px solid var(--vermerlho);
    cursor: pointer;
}
.img{
    position: absolute;
    left: 50%;
    top: 200px;
}
#imgN{
    object-fit: cover;
    object-position: 20px 10px;
}
footer{
    position: absolute;
    top:95%;
    
}



@media (max-width: 900px){
    body{
        max-width: 900px;
    }
    header{
        max-width: 900px;
    }
    .img{
        position: absolute;
        left: 45%;
        top: 200px;
    }
    .text{
        position: absolute;
        top:250px;
        left: 75px;
        max-width: 300px;
    }
}

@media (max-width: 840px){
    .img{
        position: absolute;
        left: 40%;
        top: 200px;
    }
    #imgN{
        width: 210%;
    }
}
@media (max-width: 800px){
    .text{
        position: absolute;
        top:250px;
        left: 70px;
        max-width: 300px;
    }
    #imgN{
        width: 200%;
    }
    
}
@media (max-width: 630px){
    .text{
        position: absolute;
        top:150px;
        left: 25px;
        max-width: 200px;
    }
    .img{
        position: absolute;
        left: 40%;
        top: 200px;
    }
    #imgN{
        width: 180%;
    }
    .text span{
       margin: 5px 5px 5px 0px;
    }
}
@media (max-width: 540px){

    .botoes{
        text-align: center;
    }
    
    button{
        margin: 5px;

    }
    .text{
        position: absolute;
        top:420px;
        left: 30px;
        max-width: 400px;
    }
    .img{
        overflow: hidden;
        position: absolute;
        left: 0px;
        top: 150px;
        width: 500px;
    }

    #imgN{
        width: 100%;
    }
    
    footer{
        position: absolute;
        top:130%;
        
    }
}
@media (max-width: 375px){
    .text{
        max-width: 350px;
        top: 325px;
    }
    .img{
        position: absolute;
        max-width: 320px;
        left: 10%;
        top: 95px;
        overflow: hidden;
    }
    #imgN{
        width: 150%;
    }
    .check{
        display: flex;
        opacity:0;
        z-index: -1;
    }
    .hamburger{
        display: block;
        opacity: 1;
    }
    .menu{
        opacity: 0;
        flex-direction: column;
        height: 100px;
        margin-top:0px ;
        border-radius: 20px;
        padding: 10px;
        background-color: var(--azulC);
        z-index: -1;
    
    }
    .check:checked ~ .menu{
        z-index: 2;
    }
    
    #login{
        opacity: 0;
        z-index: 0;
        position: absolute;
        color: black;
        margin-left: -65px;
        top :122px;
    }

    #login::before{
        content: none;
        
    }
    .hamburger {
      cursor: pointer;
      outline: none;
    }
    .hamburger span {
      display: block;
      background-color: #242942;
      height: 2px;
      width: 3rem;
      transition: all 300ms linear;
    }
    .hamburger span + span {
      margin-top: 1rem;
    }
    
    .hamburger + input:focus, .hamburger + input:hover {
      border: 5px solid;
    }
    
    #toggle:focus + label, #toggle:hover + label {
      outline: 1px dotted #242942;
      outline-offset: 2px;
    }
    #toggle:checked ~ .hamburger .top {
      transform: translateY(1.1rem) rotateZ(45deg);
    }
    #toggle:checked ~ .hamburger .bottom {
      transform: translateY(-1.1rem) rotateZ(-45deg);
    }
    #toggle:checked ~ .hamburger .middle {
      width: 0;
    }


}